# This is a basic workflow to help you get started with Actions

name: process_changes_on_commit

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.github/workflows/**'    
  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - '.github/workflows/**'    

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pull-requests: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
      contents: write # Grants write access for this job only
      pages: write    # Grants write access for GitHub Pages deployment    
      issues: write
      pull-requests: write

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0      

      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.

      # Runs a single command using the runners shell
      - name: curl test
        run: curl www.google.com

      - name: Get changed files
        id: changed-files
        run: |
          case '${{ github.event_name }}' in
            # For push events, compare the 'before' and 'after' commit SHAs
            push)
              echo "handling push event"
              changedFiles=$(git diff --name-only ${{ github.event.before }} ${{ github.event.after }})
              ;;
            # For pull_request events, compare the head commit with its parent
            pull_request)
              echo "handling pull event"
              changedFiles=$(git diff --name-only HEAD^)
              ;;
          esac
          # Output the changed files list so subsequent steps can use it
          echo "changed_files=$changedFiles" >> $GITHUB_OUTPUT     

      - name: List changed files
        run: |
          echo "Changed files in this event:"
          for file in ${{ steps.changed-files.outputs.changed_files }}; do
            echo "- $file"
            #if $file != "process_changes_on_commit.yml"; then
                echo "processing file "$file
                site=`sudo cat $file`
                echo $site

                
                curl $site
            #fi
          done    

      - name: Create release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
        run: |
          gh release create "$tag" \
              --repo="$GITHUB_REPOSITORY" \
              --title="${tag#v}" \
              --generate-notes          
